input {
  file {
    path => "/home/nginx.log" # Path to the Nginx log file
    start_position => "beginning"
    sincedb_path => "/dev/null" # Avoids persisting the file reading state for testing
  }
}

filter {
  grok {
    match => { 
      "message" => "%{COMBINEDAPACHELOG}" # Standard log format for Nginx
    }
  }
  date {
    match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
    target => "@timestamp"
  }
}

output {
  elasticsearch {
    hosts => ["https://es:9200"] # Use the Elasticsearch container's name
    index => "nginx-logs-%{+YYYY.MM.dd}"
  }
  stdout { codec => rubydebug } # For debugging purposes
}

